# 연습문제

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('./singers.db')

In [3]:
cur = conn.cursor()
cur.execute('SELECT * FROM singers')
rows = cur.fetchall()
rows

[(1, '방탄소년단', 7, '2013-06-13', '빅히트 엔터'),
 (2, '마마무', 4, '2014-06-19', 'RBW'),
 (3, '우주소녀', 13, '2016-02-25', '스타쉽 엔터'),
 (4, '블락비', 7, '2011-04-15', 'KQ 엔터'),
 (5, '엑소', 9, '2012-04-08', 'SM 엔터'),
 (6, '트와이스', 9, '2015-10-20', 'JYP 엔터')]

In [4]:
conn = sqlite3.connect('./songs.db')

In [5]:
cur = conn.cursor()
cur.execute('SELECT * FROM songs')
rows = cur.fetchall()
rows

[(1, '작은 것들을 위한 시', 1, 2019, 'Pdogg 외', '모든 게 궁금해 How is your day'),
 (2, 'FAKE LOVE', 1, 2018, 'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어'),
 (3, '넌 is 뭔들', 2, 2016, '김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너'),
 (4, '음오아예', 2, 2015, '김도훈', 'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아'),
 (5, 'HER', 4, 2014, '지코 외', 'Jesus 무슨 말이 필요해 모두 널 작품이라고 불러'),
 (6, '으르렁', 5, 2013, '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대'),
 (7, 'MAMA', 5, 2012, '유영진', 'Careless careless Shoot anonymous anonymous'),
 (8, 'CHEER UP', 6, 2016, '블랙아이드필승 외', 'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내'),
 (9, 'TT', 6, 2016, '블랙아이드필승 외', '이런 내 맘 모르고 너무해 너무해'),
 (10,
  '빨간 맛',
  11,
  2017,
  'Ludwig Lindell 외',
  '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')]

In [15]:
# Inner Join
sql = '''
    SELECT g.name, g.member_no, g.debut, s.name, s.year
        FROM singers AS g 
        INNER JOIN songs AS s
        ON g.id = s.gid
        ORDER BY s.year, g.debut
'''

In [16]:
cur.execute(sql)
rows = cur.fetchall();
rows

OperationalError: no such table: singers

In [17]:
# Left Outer Join
sql = '''
    SELECT g.name, g.member_no, g.debut, s.name, s.year
       FROM singers AS g 
       LEFT OUTER JOIN songs AS s
       ON g.id = s.gid
'''

In [18]:
cur.execute(sql)
rows = cur.fetchall();
df = pd.DataFrame(rows, columns=columnName)
df

OperationalError: no such table: singers